* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
   background-image: url(https://firebasestorage.googleapis.com/v0/b/marvel-web-edae6.appspot.com/o/marvel-1080x609.jpg?alt=media&token=0872a7ed-5022-4372-9e72-a4522852c9c4);
   background-attachment: fixed;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
  }

h1{
  color: black;
  padding-top: 10%;
}
.container-cards{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  } 
  

html,
body {
  /* background: #000 url('img/marvelbg.jpg') no-repeat center center/cover; */
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/marvel-web-edae6.appspot.com/o/fondo.jpg?alt=media&token=e4e778dc-749d-4ec3-aa93-09dd6734d79f);
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  
}

.logo {
  display: flex;
 align-content: center;
 justify-content: center;


}
.animated {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:initial;
 }
 @-webkit-keyframes flash {
  0%, 50%, 100% {
  opacity: 1;
  }
 25%, 75% {
  opacity: 0;
  }
 }
 @keyframes flash {
  0%, 50%, 100% {
  opacity: 20;
  }
 25%, 75% {
  opacity: 0;
  }
 }
 .flash {
  -webkit-animation-name:initial;
  animation-name: flash;
 }

a {
  text-decoration: none;
}

.card-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.btn {
  display: inline-block;
  color:rgb(73, 73, 73);
  background-color: #3fb573;
  font-size: 1em;
  text-align: center;
  padding: 10px 15px;
  border: 0;
  margin: 10px 0;
}

header {
  height: 200px;
}

header img {
  width: 200px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  height: 100px;
}

input[type='text'] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}
.card{
  align-items: center;
  height: 80%;
  color: black;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.content h1 {
  font-size: 25px;
  border-bottom: 1px rgb(20, 20, 20) solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.card-body {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  overflow-y: auto;
}

.card-back {
  background-color: #333;
  color: white;
  padding: 20px;
  transform: rotateY(180deg);
}

@media (max-width: 800px) {
  .card-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}